<div data-bb-type="screen"  id='benefits'>
	<div data-bb-type="title" data-bb-caption="BENEFITS" ></div>
<div data-bb-type="menu">
          <div data-bb-type="menu-item" data-bb-img="images/info.png" onclick="bb.pushScreen('info.html', 'info');">About</div>
          <div data-bb-type="menu-item" data-bb-img="images/invite.png" onclick="bbm.inviteToDownload();">Invite</div>
          <div data-bb-type="menu-item" data-bb-img="images/config.png" onclick="bb.pushScreen('settings.html', 'settings');">SETTINGS</div>
  </div>


   <div data-bb-type="round-panel">
    <div data-bb-type="panel-header"></div>
    <div data-bb-type="row " >
      <div data-bb-type="label">The carbon monoxide level in your blood drops to normal.</div>
      <div style="margin:20px;">
      <progress id="12h"  max="100"></progress>
      <span id="12hs"></span>
      </div>
    </div>
      <div data-bb-type="row " >
      <div data-bb-type="label">Damaged nerve endings have started to regrow and your sense of smell and taste are beginning to return to normal.</div>
      <div style="margin:20px;">
      <progress id="2d"  max="100"></progress>
      <span id="2ds"></span>
      </div>
    </div>
    <div data-bb-type="row " >
      <div data-bb-type="label">Your entire body will test 100% nicotine-free </div>
      <div style="margin:20px;">
      <progress id="3d"  max="100"></progress>
      <span id="3ds"></span>
      </div>
    </div>
    <div data-bb-type="row " >
      <div data-bb-type="label"> Recovery has likely progressed to the point where your addiction is no longer doing the talking.</div>
      <div style="margin:20px;">
      <progress id="14d"  max="100"></progress>
      <span id="14ds"></span>
      </div>
    </div>
    <div data-bb-type="row " >
      <div data-bb-type="label">Blood circulation in your gums and teeth are now similar to that of a non-user.</div>
      <div style="margin:20px;">
      <progress id="2-12wk"  max="100"></progress>
      <span id="2-12wks"></span>
      </div>
    </div>
    <div data-bb-type="row " >
      <div data-bb-type="label">Brain acetylcholine receptor counts that were up-regulated in response to nicotine's presence have now down-regulated </div>
      <div style="margin:20px;">
      <progress id="21day"  max="100"></progress>
      <span id="21days"></span>
      </div>
    </div>
    <div data-bb-type="row " >
      <div data-bb-type="label">Coughing and shortness of breath decrease; cilia start to regain normal function in the lungs</div>
      <div style="margin:20px;">
      <progress id="3-9"  max="100"></progress>
      <span id="3-9s"></span>
      </div>
    </div>
    <div data-bb-type="row " >
      <div data-bb-type="label">The excess risk of coronary heart disease is half that of a continuing smoker’s.</div>
      <div style="margin:20px;">
      <progress id="1yr"  max="100"></progress>
      <span id="1yrs"></span>
      </div>
    </div>
  </div>
  <div data-bb-type="action-bar" data-bb-back-caption="Back">
    <div data-bb-type="action" data-bb-style="tab" data-bb-overflow="true" data-bb-img="images/menu.png"  onclick="bb.pushScreen('splash.html', 'splashScreen');">MainScreen</div>
		<div data-bb-type="action" data-bb-style="tab" data-bb-overflow="true" data-bb-img="images/track.png"  onclick="bb.pushScreen('track.html','track');">Stats</div>
		<div data-bb-type="action" data-bb-overflow="true"  data-bb-style="tab" data-bb-overflow="true" data-bb-img="images/records.png"  onclick="bb.pushScreen('records.html', 'records');">Craving</div>
        <div data-bb-type="action" data-bb-style="tab" data-bb-overflow="true" data-bb-img="images/report.png"  onclick="bb.pushScreen('report.html', 'report');">Report</div>
        <div data-bb-type="action" data-bb-style="tab" data-bb-overflow="true" data-bb-img="images/ic_favorite.png"  onclick="bb.pushScreen('achievements.html', 'achieve');">MileStones</div>
        <div data-bb-type="action" data-bb-style="tab" data-bb-overflow="true" data-bb-img="images/ic_benefits.png" data-bb-selected="true" onclick="bb.pushScreen('benefits.html', 'benefits');">Benefits</div>
        <div data-bb-type="action" data-bb-style="button" data-bb-img="images/share.png"  onclick="benefit.shareTextMockingSelection();">Share
        </div>
	</div>
</div>