<div data-bb-type="screen" data-bb-effect="slide-down">
  <div data-bb-type="title" data-bb-caption="ABOUT"></div>
  <div data-bb-type="round-panel">
    <div data-bb-type="panel-header">
    Smoke Buster
    </div>
    <p>
     <b> Description </b></p>
    <p>
     Want to quit smoking once and for all?? Who says you need rehab? All you need is some determination and this fantastic little app..! It will help you get over your cravings, provide information about the health benefits and many more interesting features.  Do your lungs a favor! Download this app and let it aid you in quitting..! Rediscover yourself with a new and healthier you.!
    </p>
    <p>
      This application wont assure you that you will quit smoking.
      It will only help you in quiting and will be effective if you show some determination and will to stick to your goals.
    </p>
    <p>
      For privacy policy please click:<a href='http://www.privacychoice.org/policy/mobile?policy=24014b17bb70f67c3c65ce176094b03d'>here</a><p>For Further queries and suggestions please mail the developer at me@melvinphilips.com. If you want to understand the code please ping me. :)
    </p>
    <p>
      V1.1
    </p>
  </div>

  <div data-bb-type="action-bar" data-bb-back-caption="Back"></div>
</div>