<!DOCTYPE html>

<div data-bb-type="screen" id='report'>
	<div data-bb-type="title" data-bb-caption="REPORT" ></div>
<div data-bb-type="menu">
         <div data-bb-type="menu-item" data-bb-img="images/info.png" onclick="bb.pushScreen('info.html', 'info');">About</div>
         <div data-bb-type="menu-item" data-bb-img="images/invite.png" onclick="bbm.inviteToDownload();">Invite</div>
          <div data-bb-type="menu-item" data-bb-img="images/config.png" onclick="bb.pushScreen('settings.html', 'settings');">SETTINGS</div>
  </div>

  <div data-bb-type="round-panel">
        <div data-bb-type="panel-header">No. of Cravings missed</div>
        <div data-bb-type="label-control-container">
            <div id="chart_div" style="width:100%;height:300px; padding-top:10px;"></div>
        </div>
    </div>
    <div data-bb-type="round-panel">
        <div data-bb-type="panel-header">No. of times smoked this week</div>
        <div data-bb-type="label-control-container">
            <div id="chart_line" style="width:100%;height:300px; padding-top:10px;"></div>
        </div>
    </div>
    <div data-bb-type="action-bar" >
        <div data-bb-type="action" data-bb-style="tab" data-bb-overflow="true" data-bb-img="images/menu.png"  onclick="bb.pushScreen('splash.html', 'splashScreen');">MainScreen</div>
		<div data-bb-type="action" data-bb-style="tab" data-bb-overflow="true" data-bb-img="images/track.png"   onclick="bb.pushScreen('track.html','track');">Stats</div>
		<div data-bb-type="action" data-bb-style="tab" data-bb-overflow="true" data-bb-img="images/records.png"  onclick="bb.pushScreen('records.html', 'records');">Craving</div>
        <div data-bb-type="action" data-bb-style="tab" data-bb-overflow="true" data-bb-img="images/report.png" data-bb-selected="true" onclick="bb.pushScreen('report.html', 'report');">Report</div>
        <div data-bb-type="action" data-bb-style="tab" data-bb-overflow="true" data-bb-img="images/ic_favorite.png"  onclick="bb.pushScreen('achievements.html', 'achieve');">MileStones</div>
        <div data-bb-type="action" data-bb-style="tab" data-bb-overflow="true" data-bb-img="images/ic_benefits.png"  onclick="bb.pushScreen('benefits.html', 'benefits');">Benefits</div>
        <div data-bb-type="action" data-bb-style="button" data-bb-img="images/share.png"  onclick="reports.shareTextMockingSelection();">Share
        </div>
	</div>
</div>