
<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">
      Quit Date
    </span>
     <input type="date">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Number of packets per day</span>
    <input type="number" placeholder="eg. 5">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Number of Cigarettes in one packet</span>
    <input type="text" placeholder="eg. 20">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Time Spent in one day for smoking</span>
    <input type="number" placeholder="Enter in Minutes">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Cost of One Packet</span>
    <input type="number" placeholder="Enter in Minutes">
  </label>
   <label class="item item-input item-stacked-label">
    <span class="input-label">Phone no of Most valuable friend</span>
    <input type="tel" placeholder="eg. 9049733143">
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Your Craving Period
    </div>
    <select>
  <option value="" >Select your 'Urge to smoke' Period</option>
                      <option  value="2" >Dat should be quick!! -2mins</option>
                      <option  value="3">Dont worry!!!! - 3mins</option>
                      <option  value="5">Just be determined! -5mins</option>
                      <option  value="10">U will succeed!! -10mins</option>
    </select>
  </label>
  <button class="button button-block button-positive pull-right">
      Block Button
      </button>
</div>



