 <div class="bar bar-header bar-positive">
    <h1 class="title">Settings</h1>
</div>
<ion-content class="has-header">
<div class="list">
  <label class="item item-input">
    <span class="input-label">
      Quit Date
    </span>
     <input type="date" placeholder="Enter the date">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Number of packets per day</span>
    <input type="number" placeholder="eg. 5">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Number of Cigarettes in one packet</span>
    <input type="text" placeholder="eg. 20">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Time Spent in one day for smoking</span>
    <input type="number" placeholder="Enter in Minutes">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Cost of One Packet</span>
    <input type="number" placeholder="Enter in Minutes">
  </label>
   <label class="item item-input item-stacked-label">
    <span class="input-label">Phone no of Most valuable friend</span>
    <input type="tel" placeholder="eg. 9049733143">
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Your Craving Period
    </div>
    <select>
                      <option  value="2" >2mins</option>
                      <option  value="3">3mins</option>
                      <option  value="5">5mins</option>
                      <option  value="10">10mins</option>
    </select>
  </label>
<!--
<div class="bar bar-footer bar-balanced">
  <div class="title">Footer</div> -->
</div>
</ion-content>
<ion-footer-bar class="bar-positive">
  <h1 class="title">Save</h1>
</ion-footer-bar>



