<!-- <!DOCTYPE html>
<div data-bb-type="screen" data-bb-indicator="true" id='settings'>
	<div data-bb-type="round-panel">
		<div data-bb-type="panel-header">SETTINGS</div>
		<div  data-bb-type="label-control-container">
			<div data-bb-type="row">
               <div data-bb-type="label">Quit Date</div>
               <input id="qdate" type="date" Placeholder='Select your quit date'/>
            </div>
      <div data-bb-type="row">
               <div data-bb-type="label">Number of packets per day</div>
               <input id="pac_count" type="number" Placeholder=''/>
            </div>
            <div data-bb-type="row">
               <div data-bb-type="label">Number of Cigarettes in one packet</div><input id="cig_count" type="number" Placeholder='' />
            </div>
              <div data-bb-type="row">
               <div data-bb-type="label">Time Spent in one day for smoking</div><input id="time_count" type="number" Placeholder='Enter in Minutes' />
            </div>
            <div data-bb-type="row">
               <div data-bb-type="label">Cost of One Packet
               </div><input id="cost_one" type="text" Placeholder='eg. 100 Dollars/Rupee/Euro'/>
            </div>
            <div data-bb-type="row">
                <div data-bb-type="label">Phone no of Most valuable friend
               </div><input id="phone" type="tel" Placeholder='eg. 9049733143 ' />
            </div>
            <div data-bb-type="row">
                <div data-bb-type="label">Your Craving Period
               </div><select id ='period'>
               <option value="" selected="true">Select your 'Urge to smoke' Period</option>
                      <option  value="2" >Dat should be quick!! -2mins</option>
                      <option  value="3">Dont worry!!!! - 3mins</option>
                      <option  value="5">Just be determined! -5mins</option>
                      <option  value="10">U will succeed!! -10mins</option>
                    </select>
            </div>
    </div>
    <div  data-bb-type="label-control-container" id='new'>
           <div data-bb-type="row" >
              <div data-bb-type="label">No. of notifications per day
               </div><input id="not_count" type="number" />
          </div>
    </div> -->
	<!-- </div>
   <div data-bb-type="action-bar" >
     <div data-bb-type="action" data-bb-style='button' data-bb-img="images/ic_save.png" onclick="settings.validate();">SAVE/RETURN</div>
     <div data-bb-type="action" data-bb-style='button' data-bb-img="images/ic_reload.png" onclick="settings.reset();">RESET</div>
	</div>


</div> -->

<div class="list">
  <label class="item item-input item-select">
    <div class="input-label">
      Quit Date
    </div>
     <input type="date">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Number of packets per day</span>
    <input type="number" placeholder="eg. 5">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Number of Cigarettes in one packet</span>
    <input type="text" placeholder="eg. 20">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Time Spent in one day for smoking</span>
    <input type="number" placeholder="Enter in Minutes">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Cost of One Packet</span>
    <input type="number" placeholder="Enter in Minutes">
  </label>
   <label class="item item-input item-stacked-label">
    <span class="input-label">Phone no of Most valuable friend</span>
    <input type="tel" placeholder="eg. 9049733143">
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Your Craving Period
    </div>
    <select>
  <option value="" >Select your 'Urge to smoke' Period</option>
                      <option  value="2" >Dat should be quick!! -2mins</option>
                      <option  value="3">Dont worry!!!! - 3mins</option>
                      <option  value="5">Just be determined! -5mins</option>
                      <option  value="10">U will succeed!! -10mins</option>
    </select>
  </label>
    <button class="button button-block button-positive">
  Block Button
  </button>
</div>



